@font-face {
   
    font-family: 'Gobold';
    src: asset-url('https://fonts.cdnfonts.com/css/gobold');
    // font-family: 'IBM Plex Mono';
    // src: asset-url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
