main{
    padding: 10px;
    line-height: 1;

   .professioal-skills-group{
    .general-professioal-skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        background-color: rgb(247, 246, 246);
    }

    .skills-label{
        display: inline-block;
        width: 120px;
        align-items: center;
        align-content: center;
    }
   } 

}