<main>
    <section class="page-header">
        <h2>Skills</h2>
    </section>

    <section class="professioal-skills-group">
        <div class="general-professioal-skills">
            <div class="skills-details">
                <form>
                    <mat-label class="skills-label">Technology</mat-label>
                    <mat-form-field>
                        <input matInput type="text">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </section>
</main>
