<main>
    <section class="page-header">
        <h2>Personal information</h2>
        <div class="page-header-group">
            <div class="page-tips">
                <div class="quick-tips">
                    <button mat-button class="tips-button"> 
                    <i class="fa-solid fa-lightbulb"></i>
                        Quick Tips
                    </button>
                </div>
            </div>
        </div>
   
    </section>
   
    <!-- Personal information -->
    <section class="personal-info">
    <div class="personal-info-group">
        <div class="personal-details">
            <label for="first-name" minlenght="3">First Name </label>
            <mat-form-field>
            <input matInput type="text" id="first-name">
            </mat-form-field>
        </div>

        <div class="personal-details">
            <label class="avatar">Profile Picture</label>
            <div class="profile-photo">
                <div class="photo-block">
                    <img src="./assets/img/empty.jpg" alt="photo" id="avatar">
                </div>
                
                <div class="upload-block">
                    <mat-slide-toggle class="photo-toggle">Show Picture</mat-slide-toggle>
                    <button class="upload-photo">Upload Photo</button>
                </div>
            </div>
        </div>
            
        <div class="personal-details">
            <label for="surname">Surname </label>
            <mat-form-field>
            <input matInput type="text" id="surname">
            </mat-form-field>
        </div>

        <div class="personal-details">
            <label for="job">Job Title </label>
            <mat-form-field>
                <input matInput type="text" id="job">
            </mat-form-field>
        </div>

    </div>
    </section>

    <!-- Work Experience -->
    <app-work-experience></app-work-experience>

    <section class="work-experience">

    </section>


</main>
