<main>
    <section class="page-header">
        <h2>Personal information</h2>
        <div class="page-header-group">
            <div class="page-tips">
                <div class="quick-tips">
                    <button mat-button class="tips-button"> 
                    <i class="fa-solid fa-lightbulb"></i>
                        Quick Tips
                    </button>
                </div>
            </div>
        </div>
   
    </section>
   
    <!-- Personal information -->
    <section class="personal-info">
    <div class="personal-info-group">
        <div class="personal-details">
            <div class="name-group">
                <form>
                    <mat-label for="first-name" class="personal-info-label" minlenght="3">First Name </mat-label> 
                    <mat-form-field>
                         <input matInput type="text" id="first-name">
                    </mat-form-field>
                </form>
                
            </div>
            <div class="name-group">
                <form>
                    <mat-label for="surname" class="personal-info-label">Surname </mat-label>
                    <mat-form-field >
                        <input matInput type="text" id="surname">
                    </mat-form-field>
                </form>
            </div>

        </div>
            

        <!-- Photo block -->
        <div class="personal-details">
            <mat-label class="personal-info-label">Profile Picture</mat-label>
            <div class="profile-photo">
                <div class="photo-block" id="user-photo">
                    <img src="./assets/img/empty.jpg" alt="photo" id="avatar">
                </div>
                
                <div class="upload-block">
                    <mat-slide-toggle class="photo-toggle">Show Picture</mat-slide-toggle>
                    <button mat-button class="upload-photo">Upload Photo</button>
                </div>
            </div>
        </div>
    </div>
    </section>   
</main>
