  <mat-toolbar class="top-bar" color="primary-color">
    <mat-toolbar-row class="menu-row">
        <div class="logo">
              <a href="/">
            <img src="./assets/img/logo-smartexe.png" alt="logo">
        </a>
        </div>
      
    </mat-toolbar-row>

      <mat-toolbar-row class="menu-row">
        <div class="menu">
             <button mat-icon-button class="top-bar-icon" type="button" aria-label="icon-button">
        <mat-icon>menu</mat-icon>
      </button>
        </div>        
      </mat-toolbar-row>
    </mat-toolbar>



