<main>
    <section class="page-header">
        <h2>Work Experience</h2>
    </section>   

    <!-- Work-experience-group -->
    <section class="work-experience-group">
        <div class="additional-block-experience">
            <button mat-mini-fab id="additional-experience">
                <mat-icon fontIcon="add" ></mat-icon>
            </button> 
        </div>
        <div class="general-experience-info">

            <div class="experience-details">
                <div class="position-details">
                    <form>
                        <mat-label class="experience-label" id="position-name" >Posiotion</mat-label>
                        <mat-form-field appearance="fill">
                            <input matInput type="text" id="position-name">
                        </mat-form-field>
                    </form>
                   
                </div> 
            </div>

            <div class="experience-details">
                <div class="workplace-details">
                    <form>
                        <mat-label class="experience-label" id="workplace-name" minlenght="3">Company</mat-label>
                        <mat-form-field>
                            <input matInput type="text" id="worlpace-name">
                        </mat-form-field>
                    </form>
                   
                </div> 
            </div>
            
           <div class="experience-details">
                <div class="experince-period">
                    <form>
                        <mat-label id="period">Period</mat-label>
                        <mat-form-field>
                        <mat-date-range-input
                        [formGroup]="campaignOne"
                        [rangePicker]="campaignOnePicker"
                        [comparisonStart]="campaignTwo.value.start"
                        [comparisonEnd]="campaignTwo.value.end">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                        </mat-form-field>
                    </form>
                    
                </div>
           </div> 

           <div class="experience-details">
            <div class="job-responsibilities">
                <form>
                    <mat-label class="experience-label" id="responsibilities">Responsibilities</mat-label>
                    <mat-form-field class="experience-input-responsibilities" >
                    <input matInput type="text"  id="responsibilities-input">
                    </mat-form-field>
                </form>
            </div>
           </div>
        </div>
    </section> 
</main>

