main{
    padding: 10px;
    line-height: 1;
   
.work-experience-group{

    .additional-block-experience{
        position: absolute;
        left: 97.5%;
        align-items: end;
    }
        
    .general-experience-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        background-color: rgb(247, 246, 246);
    }

    .experience-details{
        .experience-label{
            display: inline-block;
            width: 120px;
            align-items: center;
            align-content: center;
        }

        .experience-input-responsibilities{
            display: inline-block;
            width: 100%;
        }
    }
}
    
}

