<main>
    <section class="page-header">
        <h2>Academic Background</h2>
    </section>

    <section class="academic-background-group">
        <div class="general-academic-background">
            <div class="academic-background-details">

                <div class="university-details">
                     <form>
                    <mat-form-field appearance="fill">
                        <mat-label class="academic-background-label">University</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </form>
                </div>
            </div>

            <div class="academic-background-details">
                <div class="degree-details">
                    <form>
                        <mat-form-field appearance="fill"> 
                            <mat-label class="degree-label">Degree</mat-label>
                            <input matInput type="text" id="degree">
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="academic-background-details">
                <div class="fiel-of-study-details">
                    <form>
                        <mat-form-field appearance="fill">
                            <mat-label class="fiel-of-study-label">Fiel of study</mat-label>
                            <input matInput type="text" id="fiel-of-study">
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="academic-background-details">
                <div class="graduation-period-details">
                    <form>
                        <mat-form-field appearance="fill"> 
                            <mat-label class="graduation-period-label">Graduation Period</mat-label>
                            <!-- <input matInput [matDatepicker]="dp" [formControl]="date" id="graduation-period">
                            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp
                                            startView="multi-year"
                                            (monthSelected)="setMonthAndYear($event, dp)"
                                            panelClass="example-month-picker">
                            </mat-datepicker> -->
                            <mat-date-range-input
                            [formGroup]="campaignOne"
                            [rangePicker]="campaignOnePicker"
                            [comparisonStart]="campaignTwo.value.start"
                            [comparisonEnd]="campaignTwo.value.end">
                            <input matStartDate placeholder="Start date" formControlName="start">
                            <input matEndDate placeholder="End date" formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            

                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
