<main>
    <section class="page-header">
        <h2>Academic Background</h2>
    </section>

    <section class="academic-background-group">
        <div class="general-academic-background">
            <div class="academic-background-details">

                <div class="university-details">
                     <form>
                    <mat-label class="academic-background-label">University</mat-label>
                    <mat-form-field>
                        <input matInput type="text">
                    </mat-form-field>
                </form>
                </div>
            </div>

            <div class="academic-background-details">
                
            </div>

            <div class="academic-background-details">
                
            </div>

            <div class="academic-background-details">
                
            </div>
        </div>
    </section>
</main>
