main{
    padding: 10px;
    line-height: 1;
    
    .additional-block-projects{
        position: absolute;
        left: 97.5%;
        align-items: end;
    }                                  
    // General Projects Accomplished block
   .projects-accomplished-group{
        .general-projects-accomplished-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            align-items: center;
            padding: 1em;
            border-radius: 1em;
            background-color: rgb(247, 246, 246);

        }

        .project-details{
            display: inline-block;
            align-items: center;
            align-content: center;

        .project-duties-form,
        .project-description-form,
        .project-technologies-form
            {
                width: 95%;
            }

        }

        .project-technologies-form{
            grid-column: 1 / -1; 
            width: 100%;
        }
    }
}